@model HiShop.Models.Catalogo.DetalleArticuloModelAndView

@{
    Layout = "~/Views/Shared/_BaseMenuUsuarioRegistrado.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DetallesDeProducto</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    <section>
        <!-- <div class="container-fluid col-md-offset-2">
            <div class="row"> -->
        <div>
            <div>
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Lo más buscado</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--ACÁ IRÍA LA LISTA DE CATEGORÍAS PARA FILTRAR-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Indumentaria
                                        </a>
                                    </h4>
                                </div>
                                <div id="sportswear" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Blusas </a></li>
                                            <li><a href="#">Camisas </a></li>
                                            <li><a href="#">Camisetas </a></li>
                                            <li><a href="#">Chombas </a></li>
                                            <li><a href="#">Remeras</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Calzado
                                        </a>
                                    </h4>
                                </div>
                                <div id="mens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Borcegos</a></li>
                                            <li><a href="#">Botas</a></li>
                                            <li><a href="#">Chatitas</a></li>
                                            <li><a href="#">Crocs</a></li>
                                            <li><a href="#">Formal</a></li>
                                            <li><a href="#">Ojotas</a></li>
                                            <li><a href="#">Panchas</a></li>
                                            <li><a href="#">Sandalias</a></li>
                                            <li><a href="#">Zapatillas</a></li>
                                            <li><a href="#">Zapatos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Accesorios
                                        </a>
                                    </h4>
                                </div>
                                <div id="womens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Anillos</a></li>
                                            <li><a href="#">Aros</a></li>
                                            <li><a href="#">Collares</a></li>
                                            <li><a href="#">Pulseras</a></li>
                                            <li><a href="#">Tobilleras</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Climatización</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Computación</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Hogar</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Juguetería</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Librería</a></h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Carteras</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Telefonía</a></h4>
                                </div>
                            </div>
                        </div><!--/category-products-->

                    </div>
                </div>

                <form action="/Catalogo/Comprar/@Model.Articulo.ID?cantidad=@TempData["GuardarCantidad"]" method="post">
                    <a href="javascript:window.history.back();">
                        <input type="button" class="btn btn-info" value="Volver" />
                    </a>
                    <div class="alert-info pull-right">
                        <a href="/Showroom/Ver2">
                            <h5> <b>Visitá los demás artículos de @Model.Articulo.Negocio.Nombre</b> </h5>
                        </a>
                    </div>
                    <div class="col-sm-9 padding-right">
                        <div class="product-details">
                            <!--product-details-->
                            <div class="col-sm-5">
                                <div class="view-product">
                                    <img src="@Model.Articulo.UrlImagen" alt="" width="300" class="zoom" />
                                </div>
                                <style>
                                    .zoom:hover {
                                        transform: scale(1.2);
                                        cursor: pointer;
                                    }
                                </style>

                            </div>
                            <div class="col-sm-7">
                                <div class="product-information">
                                    <!--/product-information-->

                                    <input type="hidden" value="@Model.Articulo.ID" />

                                    <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                                    <h2>@Model.Articulo.Nombre</h2>
                                    <h4> @Model.Articulo.Descripcion </h4>
                                    <img src="images/product-details/rating.png" alt="" />
                                    <span>
                                        <span>$@Model.Articulo.Precio</span>
                                        <label>Ingresar Cantidad:</label>

                                        <!-- <input type="hidden" name="cantidad" value="" /> -->
                                        <input type="number" name="cantidad" id="cantidad" value="@TempData["GuardarCantidad"]" required="required" min="1" max="@Convert.ToInt32(Model.Articulo.Cantidad)" />
                                        <br />
                                        <br />


                                        <button type="submit" class="btn btn-success pull-right">
                                            <!-- <i class="fa fa-shopping-cart"></i> -->
                                            Comprar
                                        </button>

                                    </span>

                                    <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                                </div><!--/product-information-->
                            </div>
                        </div><!--/product-details-->
                    </div>
                </form>
                <div class="category-tab shop-details-tab">
                    <!--category-tab-->

                    <div class="tab-content container">
                        <div class="tab-pane fade" id="details">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="companyprofile">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tag">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">

                                <h4><b>¿Tenés dudas? ¡Consultá al vendedor!</b></h4>
                                <form action="/Catalogo/Consultar/@Model.Articulo.ID" method="post">

                                    <span>
                                        <input type="text" placeholder="Nombre" name="Nombre" />
                                        <input type="email" placeholder="Email" name="Email" />
                                    </span>
                                    <textarea name="Body" placeholder="Escribí tu consulta aquí"></textarea>
                                    <!-- <b>Rating: </b> <img src="images/product-details/rating.png" alt="" /> -->
                                    <input type="submit" class="btn btn-success pull-right" value="Enviar consulta" />
                                </form>
                            </div>
                        </div>


                    </div>

                </div>
            </div><!--/category-tab-->

        </div>
        </div>
    </section>



    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>