@model HiShop.Models.Catalogo.CatalogoGeneral
@{
    Layout = "~/Views/Shared/_BaseMenuUsuarioRegistrado.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ecommerce</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Lo más buscado</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--ACÁ IRÍA LA LISTA DE CATEGORÍAS PARA FILTRAR-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Indumentaria
                                        </a>
                                    </h4>
                                </div>
                                <div id="sportswear" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Blusas </a></li>
                                            <li><a href="#">Camisas </a></li>
                                            <li><a href="#">Camisetas </a></li>
                                            <li><a href="#">Chombas </a></li>
                                            <li><a href="#">Remeras</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Calzado
                                        </a>
                                    </h4>
                                </div>
                                <div id="mens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Borcegos</a></li>
                                            <li><a href="#">Botas</a></li>
                                            <li><a href="#">Chatitas</a></li>
                                            <li><a href="#">Crocs</a></li>
                                            <li><a href="#">Formal</a></li>
                                            <li><a href="#">Ojotas</a></li>
                                            <li><a href="#">Panchas</a></li>
                                            <li><a href="#">Sandalias</a></li>
                                            <li><a href="#">Zapatillas</a></li>
                                            <li><a href="#">Zapatos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Accesorios
                                        </a>
                                    </h4>
                                </div>
                                <div id="womens" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Anillos</a></li>
                                            <li><a href="#">Aros</a></li>
                                            <li><a href="#">Collares</a></li>
                                            <li><a href="#">Pulseras</a></li>
                                            <li><a href="#">Tobilleras</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Climatización</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Computación</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Hogar</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Juguetería</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Librería</a></h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Carteras</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Telefonía</a></h4>
                                </div>
                            </div>
                        </div><!--/category-products-->


                        <div class="price-range">
                            <!--price-range-->
                            <h2>Precio</h2>

                            <form action="/Catalogo/Ecommerce/query=@null?filtro=@TempData["Precio"]" method="post">

                                <select id="precio" name="filtro" onchange="this.form.submit();">
                                    <option> -Selecciona- </option>
                                    <option value="0" name="filtro"> Menor precio </option>
                                    <option value="1" name="filtro"> Mayor precio </option>
                                </select>

                                <input type="hidden" value="@TempData["Precio"]" name="filtro" />

                            </form>

                            <!-- <div class="well text-center">
                                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                                <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                            </div> -->
                        </div><!--/price-range-->


                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->


                        <form action="/Catalogo/Ecommerce/query=@TempData["PalabraClave"]?filtro=@null" method="post">

                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control input-lg" placeholder="¿Qué estás buscando?" value="@TempData["PalabraClave"]" name="query" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-lg" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </form>

                        <br />

                        <h2 class="title text-center">Productos</h2>

                        <h2 class="title text-center text-danger"> @TempData["Mensaje"] </h2>
                        @foreach (var item in Model.productos)
                        {
                            <div class="col-sm-6">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="@item.UrlImagen" alt="@item.Nombre" width="300" />
                                            <h2>$@item.Precio</h2>
                                            <p>@item.Nombre</p>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <img src="~/images/Logo.png" alt="@item.Nombre" width="300" />
                                                <h2>$@item.Precio</h2>
                                                <p>@item.Nombre</p>
                                                <a href="/Catalogo/Comprar/@item.ID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li>
                                                <form action="/Catalogo/DetallesDeProducto/@item.ID" method="post">
                                                    <i class="fa fa-plus-square"></i><input type="submit" value="ver mas" />
                                                    Ver más detalles
                                                </form>
                                            </li>
                                        </ul>
                                    </div> -->

                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li>
                                                <a href="/Catalogo/DetallesDeProducto/@item.ID">
                                                    <i class="fa fa-plus-square"></i>
                                                    Ver más detalles
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        }

                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html> 