@model HiShop.Models.Catalogo.VentasModelAndView

@{
    Layout = "~/Views/Shared/_BaseMenuUsuarioRegistrado.cshtml";
}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/css/TableStyle.css" rel="stylesheet" />
<script src="~/js/TableJS.js"></script>
<div class="container">
    <div class="row">
        <section class="container">
            <h1>Órdenes de Pedido</h1>
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default" style="width:750px;">
                    <div class="panel-body">
                        <div class="pull-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-filter" data-target="pagado">Pagado</button>
                                <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pendiente</button>
                                <button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>
                            </div>
                        </div>
                        <div class="table-container">
                            <table class="table table-filter" style="width:720px;">
                                <tbody>
                                    @foreach (var item in Model.ordenes)
                                    {
                                        if (item.EstadoPedido == HiShop.Enum.EstadoPedido.CONCRETADO)
                                        {
                                            <tr data-status="pagado">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Pago)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Envio)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Negocio.Nombre)
                                                </td>
                                            </tr>
                                        }
                                    }
                                    @foreach (var item in Model.ordenes)
                                    {
                                        if (item.EstadoPedido == HiShop.Enum.EstadoPedido.PENDIENTE)
                                        {
                                            <tr data-status="pendiente">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Pago)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Envio)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Negocio.Nombre)
                                                </td>
                                                <td>
                                                    <form action="/Catalogo/OrdenesDePedido/@item.ID" method="post">
                                                        <input type="submit" value="Concretar compra" class="btn btn-info" />
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>