@model HiShop.Models.Articulo.ArticuloGeneralModelAndView
@{
    ViewData["Title"] = "ListarArticulo";
    Layout = "~/Views/Shared/_BaseMenuUsuarioRegistrado.cshtml";
}
<script>

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12&appId=1610232299056898&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    //Cambia el estado de un negocio cuando toca que si
    //AxelMolaro
    function borrar(id) {
        $.ajax({
            url: '/Articulo/BorrarArticulo',
            data: { id },
            type: 'POST',
            async: true,
            success: (function (result) {
                location.reload();//TODOAM: CAMBIAR PARA QUE NO RECARGUE AXEL

            }),
            error: (function (result) {
                alert("Error al borrar");
            })
        })
    }
    //onclick=";
    $("document").ready(function () {

        $("#btnFacebook").ready(function () {

            $(".btnFacebook").click(function () {
                var enumerador = $("#" + this.id).attr("itemEnumerador");
                post($('#nombreArticulo-' + enumerador).val(), $('#descripcionArticulo-' + enumerador).val(), $('#precioArticulo-' + enumerador).val(), $('#urlImagenArticulo-' + enumerador).val());
            });
        });
    });
    //Limpiar los filtros
    //AxelMolaro
    function limpiarFiltros() {
        $("#nombreFiltro").val("");
        $("#inputPaginaActual").val("1");
        $("#formFiltro").submit();
    }
    function filtrar() {
        $("#inputPaginaActual").val("1");
        $("#formFiltro").submit();
    }


    function post(nombre, descripcion, precio, imagen) {
        debugger;
        var nombreP = nombre;
        debugger;


        FB.api('/me/photos', 'post', { message: 'Vendo ' + nombre + '(' + descripcion + ') a $' + precio ,  url: imagen }, function (response) {
                if (response.id != null) {
                    document.getElementById('status').innerHTML = '<br /><div class="text-center text-success"> <h4> ¡Producto publicado! </h4> </div>';
                }
                else {
                    document.getElementById('status').innerHTML = '<br /><div class="text-center text-danger"> <h4> Iniciá sesión en facebook para poder compartir tus artículos </h4> </div>';
                }
            });
        }

            function UserAction(nombre, precio, cantidad, descripcion, imagen) {
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "https://api.mercadolibre.com/items?access_token=APP_USR-7157869629400488-071920-99f2acc42989f091d7d293d346f03d36-336217790", true);
                xhttp.setRequestHeader("Content-type", "application/json");
                alert("Publicando en Mercado Libre...");
                xhttp.send("{'title':'" + nombre + "(Item de test - No Ofertar)', 'category_id':'MLA3530','price':" + precio + ",'currency_id':'ARS','available_quantity':" + cantidad + "),'buying_mode':'buy_it_now','listing_type_id':'gold_special','condition':'new','description' : {'plain_text': '" + descripcion + " (Item de test - No Ofertar)' },'warranty': '12 months','pictures':[{'source': '" + imagen + "' }]}");
                var response = JSON.parse(xhttp.responseText);
                document.getElementById("responseMercadoLibre").innerHTML = "Compartido en mercado libre!";
            }

</script>
<div id="fb-root"></div>

<div class="row">
    <div class="container">
        <div>
            <br />
            <h3><i class="zmdi zmdi-plus-box"></i> Mis Articulos </h3>
        </div>
        <div>
            Filtro
            <form method="get" id="formFiltro" action="/Articulo/ListarArticulo" class="form-inline">
                <div class="form-group form-inline">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" name="nombreFiltro" id="nombreFiltro" value="@Model.filtro.nombreFiltro" />
                </div>
                <input name="paginaActual" value="@Model.filtro.paginaActual" id="inputPaginaActual" readonly="readonly" type="hidden" />
                <input value="@Model.filtro.total" id="inputTotalDePaginas" readonly="readonly" type="hidden" />

                <div class="form-group form-inline">
                    <button type="button" class="btn btn-success2" onclick="filtrar()">Filtrar</button>
                    <button type="button" class="btn btn-info" onclick="limpiarFiltros()">Limpiar Filtros</button>
                </div>
            </form>

            <!-- Botón para iniciar sesión en facebook -->
            <a href="#" onclick="login()" id="login"> <img src="https://zaqui.cl/static/img/facebook-icon.png" width="200" /> </a>

            <!-- div donde se mostrará información con respecto a la integración de facebook -->
            <div id="status"></div>

        </div>
        <br />
        <div class="col-md-offset-11">
            <i class="zmdi zmdi-skip-previous" id="paginaAnterior" onclick="paginarAnterior()" style="cursor:pointer"></i> @Model.filtro.paginaActual - @Model.filtro.total <i class="zmdi zmdi-skip-next" id="paginaSiguiente" onclick="paginarSiguiente()" style="cursor:pointer"></i>
        </div>
        <table class="col-md-12 table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        Imagen
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Borrar
                    </th>
                    <th>
                        Compartir
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- foreach (var item in Model.listaDeArticulos) -->
                @for (var i = 0; i < Model.listaDeArticulos.Count; i++)
                {
                    <tr>
                        <td>
                            <img src="@Model.listaDeArticulos[i].UrlImagen" alt="ImagenArticulo" width="60" height="60" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.listaDeArticulos[i].Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.listaDeArticulos[i].Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.listaDeArticulos[i].Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.listaDeArticulos[i].Precio)
                        </td>
                        <td>
                            <a href="/Articulo/EditarArticulo/@Model.listaDeArticulos[i].ID" value="@Model.listaDeArticulos[i].ID"><i class="zmdi zmdi-edit"></i></a>
                        </td>
                        <td>
                            <i class="zmdi zmdi-delete" onclick="borrar(@Model.listaDeArticulos[i].ID)"></i>
                        </td>
                        <td>
                            <!-- <div class="fb-share-button" data-href="  http://192.168.0.3:8080/Catalogo/DetallesDeProducto/@Model.listaDeArticulos[i].ID" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A49836%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div> -->
                            <!-- <div class="fb-share-button" data-href="  http://192.168.0.3:8080/a/prueba" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A49836%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div> -->

                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                            <a href="https://twitter.com/intent/tweet?text=@Model.listaDeArticulos[i].Nombre+(@Model.listaDeArticulos[i].Descripcion)+$@Model.listaDeArticulos[i].Precio+@Model.listaDeArticulos[i].UrlImagen">
                                <img src="https://static1.squarespace.com/static/549157fde4b0a57121fdbe9f/t/5a53a3720852297684dc395b/1515493253245/Twitter-Social-Share-Button.png" width="140" style="margin-left:-7px;" />
                            </a>
                            <input id="enumeradorArticulo-@i" value="@i" type="hidden"/>
                            <input id="nombreArticulo-@i" value="@Model.listaDeArticulos[i].Nombre" type="hidden"/>
                            <input id="descripcionArticulo-@i" value="@Model.listaDeArticulos[i].Descripcion" type="hidden"/>
                            <input id="cantidadArticulo-@i" value="@Convert.ToDouble(@Model.listaDeArticulos[i].Cantidad)" type="hidden"/>
                            <input id="precioArticulo-@i" value="@Convert.ToDouble(@Model.listaDeArticulos[i].Precio)" type="hidden"/>
                            <input id="urlImagenArticulo-@i" value="@Model.listaDeArticulos[i].UrlImagen" type="hidden"/>
                            <a  id="btnFacebook-@i" class="btnFacebook" itemEnumerador ="@i"> <img src="https://adnlife.com/img/facebook.png" width="100" /> </a>
                            <a href="#" onclick="UserAction(@Model.listaDeArticulos[i].Nombre,@Convert.ToDouble(@Model.listaDeArticulos[i].Precio),@Convert.ToDouble(@Model.listaDeArticulos[i].Cantidad),@Model.listaDeArticulos[i].Descripcion,@Model.listaDeArticulos[i].UrlImagen)"> <img src="https://mlstaticquic-a.akamaihd.net/ui/navigation/4.0.1/mercadolibre/logo__large_plus.png" width="100" /> </a>

                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <script>
            //initialize and setup facebook js sdk
            window.fbAsyncInit =
                function () {
                    FB.init({
                        appId: '233058437422928',
                        xfbml: true,
                        version: 'v2.5'
                    });
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            document.getElementById('status').innerHTML = '<br /><div class="text-center text-info"> <h4> Conectado a facebook </h4> </div>';
                            document.getElementById('login').style.visibility = 'hidden';
                        }
                    });
                };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            function login() {
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        document.getElementById('status').innerHTML = '<br /><div class="text-center text-info"> <h4> Conectado a facebook </h4> </div>';
                        document.getElementById('login').style.visibility = 'hidden';
                    }

                    else {
                        document.getElementById('status').innerHTML = '<br /><div class="text-center text-info"> <h4> Iniciá sesión en facebook para poder compartir tus artículos </h4> </div>';
                    }
                }, { scope: 'publish_actions' });
            }
        </script>

        <a href="/Articulo/CrearArticulo" class="btn btn-success2">
            <i class="zmdi zmdi-plus-circle"></i> Nuevo
        </a>
    </div>
</div>
<hr />
